*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #3498db, #87cefa);
}
.main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.wallpaper-container{
    width: 100%;
    height: 100%;
    top: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.wallpaper-container .logo{
    width: 100px;
    height: auto;
    align-items: center;
    animation: bounce 1.5s infinite;
}
.wallpaper-container p{
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    color: #ffffff;
}
.login-container{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.login-card{
    width: 95%;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    background-color: #ffffff;
}
.login-card h2{
    font-size: 30px;
    color: #34495e;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.login-card form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    width: 30%;
    font-size: 20px;
}
.form-group input{
    width: 70%;
    padding: 5px;
    font-size: 18px;
}
.form-group input[type="submit"]{
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover{
    background-color: #45a049;
}
.remember{
    margin-bottom: 20px;
}
.remember input{
    margin-right: 3px;
    scale: 1.2;
}
.remember label{
    font-size: 16px;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detail a{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #34495e;
    text-decoration: none;
}
.detail a:hover{
    color: #3498db;
}
.detail .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    align-self: center;
    padding: 10px;
    width: 50%;
    background-color: #34495e;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
button:hover{
    background-color: #3498db;
}

/* animation */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* responsive */

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.6fr;
    }
}